body, html {
  font-family: 'Raleway', sans-serif !important;
  height: 100%;
  margin: 0em 1.5em 0em 1.5em;
}
.navbar{
}
.about{
  font-size: 20px;
}

.locations{
  font-size: 20px;
}
.toplogo-1 {
  font-size: 50px;
  padding-top: 10px;
}
.toplogo-2{
  font-size: 23px;
  float: right;
}

.underline--magical {
  background-image: linear-gradient(120deg, #f3d9fc 0%, #f3d9fc 100%);
  background-repeat: no-repeat;
  background-size: 100% 0em;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
}

.underline--magical:hover{
  background-size: 100% 88%;
}
.placeunderline {
  background-image: linear-gradient(120deg, #d8f6ff 0%, #d8f6ff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0em;
  background-position: 0 100%;
  transition: background-size 0.1s ease-in;
}
.placeunderline:hover{
  background-size: 100% 40%;
}
.navlinks{
  text-decoration: none;
  color: black;
}
.navlinks:hover{
  text-decoration: none;
  color: black;
}
.timeline-years{
  margin-top: 3%;
  text-align: right;
  height: 460px;
  border-right: .3mm solid #c1bfbf;
}
.years{
  color: #757575;
  text-decoration: none;
}
.years:hover{
  text-decoration: none;
  color: #757575;
}
.timeline-places{
  margin-top: 3%;
  text-align: left;
  height: 70%;
}
.places{
  padding-bottom: 15px;
}
.divplaces{
  color: #757575;
}
.about-square{
  border: .3mm solid #c1bfbf;
  margin-top: 50px;
  height: 450px;
}
.aboutpic{
  width: 65%;
}
.firstcol{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hellotext {
  font-size: 45px;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  color: #9e9c9c;
}
#art{
  height: 30%;
  width: 100%;
  background-color: #F47476;
}
#school{
  height: 30%;
  width: 100%;
  background-color: #DEC39E;
}
#bucketlist{
  height: 40%;
  width: 100%;
  background-color: #F3F7DC;
}
#moving{
  height: 28%;
  width: 100%;
  background-color: #D8D6CB;
}
#random{
  height: 62%;
  width: 100%;
  background-color: #FCE4DD;
}
#socialmedia{
  height: 10%;
  width: 100%;
  background-color: white;
  display: flex;
}
.nogutter{
  padding-right:0 !important;
   padding-left:0 !important;
   margin-left: 0 !important;
   margin-right: 0 !important;
}
.aboutlogos{
  width: 20%;
}
.abtsquares{
  display: flex;
  align-items: center;
  justify-content: center;
}
.abouttext{
  padding: 20px;
}
.socialicons{
  height: 65%;
  margin: 0px 15px 0px 15px
}
